<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>

export default {
  name: 'App',
  methods: {
    logOut () {
      this.$store
        .dispatch('authentication/logout')
        .then(response => {
          this.$router.push('/login')
        })
        .catch(() => {
          this.$router.go()
        })
    }
  },
  mounted: function () {
    // Subscribe to LogOut event
    this.$root.$on('logOut', this.logOut)

    // Set authentication axios header for all requests if exists
    let token = this.$store.state.authentication.token
    if (token) {
      this.$axios.defaults.headers.common['Authorization'] = 'Bearer ' + token
    }

    // Logout on session expired
    this.$axios.interceptors.response.use(
      (response) => {
        return response
      },
      async (error) => {
        if (error.request.status === 401) {
          // Refresh token has failed. Logout the user
          this.logOut()
          throw error
        }

        // If error was not 401 just reject as is
        throw error
      }
    )
  }
}
</script>

<style>
</style>
