<template>
  <div>
    <q-modal ref="layoutModal" :content-css="{minWidth: '80vw', minHeight: '80vh'}">
      <q-modal-layout>
        <q-toolbar slot="header">
          <q-btn flat @click="$refs.layoutModal.close()">
            <q-icon name="keyboard_arrow_left" />
          </q-btn>
          <q-toolbar-title>
            Header
          </q-toolbar-title>
        </q-toolbar>
        <q-toolbar slot="footer">
          <q-toolbar-title>
            <q-btn v-if="!readonly&&changed" color="secondary" @click="save()">Save</q-btn>
            <q-btn @click="cancel()" :color="cancelColor">Cancel</q-btn>
          </q-toolbar-title>
        </q-toolbar>

        <div class="layout-padding">
          <q-field
            icon="info_outline"
            label="Title"
            helper="Title"
            error-label="Title required">
            <q-input 
              v-model="dataModel.title" 
              :readonly="readonly"  />
          </q-field>
        
          <q-field
            icon="info_outline"
            label="Description"
            helper="Description">
            <q-input 
              type="textarea"
              float-label="Textarea"
              v-model="dataModel.description"
              :readonly="readonly"
              />
          </q-field>

          <q-field
            icon="info_outline"
            label="Anchor"
            helper="Anchor">
            <q-input 
              v-model="dataModel.anchor" 
              :readonly="readonly" />
          </q-field>

          <q-field
            icon="info_outline"
            label="Tags"
            helper="Tags">
            <q-chips-input 
              float-label="Tags" 
              v-model="dataModel.tags" 
              :readonly="readonly" />
          </q-field>          
        </div>
      </q-modal-layout>
    </q-modal>
  </div>
</template>
<script>
import {
  QField,
  QInput,
  QChipsInput,
  QBtn,
  QIcon,
  QModal,
  QModalLayout,
  QToolbar,
  QToolbarTitle,
  QSearch,
  QList,
  QItem,
  QItemSide,
  QItemMain
} from 'quasar'

export default {
  name: 'EditPanel',
  components: {
    QField,
    QInput,
    QChipsInput,
    QBtn,
    QIcon,
    QModal,
    QModalLayout,
    QToolbar,
    QToolbarTitle,
    QSearch,
    QList,
    QItem,
    QItemSide,
    QItemMain
  },
  data () {
    return {
      open: false,
      dataSource: null,
      dataModel: {
        title: '',
        description: '',
        anchor: '',
        tags: []
      },
      readonly: true
    }
  },
  methods: {
    show (dataSource, readonly) {
      this.dataSource = dataSource
      this.dataModel = {
        id: dataSource.Id,
        parentId: dataSource.ParentId,
        title: dataSource.Title,
        description: dataSource.Description,
        anchor: dataSource.Anchor,
        tags: []
      }
      this.readonly = false
      if (readonly) {
        this.readonly = readonly
      }

      if (dataSource.Tags && dataSource.Tags.length > 0) {
        this.dataModel.tags = dataSource.Tags.slice()
      }

      this.$refs.layoutModal.open()
    },
    cancel () {
      this.$refs.layoutModal.close()
    },
    save () {
      this.$emit('update', this.dataModel)
      this.$refs.layoutModal.close()
    }
  },
  computed: {
    changed: function () {
      var result = !this.dataSource ||
        this.dataModel.title !== this.dataSource.Title ||
        this.dataModel.description !== this.dataSource.Description ||
        this.dataModel.anchor !== this.dataSource.Anchor
        // && this.dataModel.tags == this.dataSource.Anchor
      console.log('changed: ' + result)
      return result
    },
    cancelColor: function () {
      return this.changed ? 'standard' : 'secondary'
    }
  },
  watch: {
    'dataModel.tags': function (val, oldVal) {
      console.log('Tags: ' + oldVal + ' -> ' + val)
    }
  }
}
</script>