<template>
  <q-layout
    ref="layout"
    :view="layoutStore.view"
    :left-breakpoint="layoutStore.leftBreakpoint"
    :right-breakpoint="layoutStore.rightBreakpoint"
    :reveal="layoutStore.reveal"
  >
    <q-toolbar slot="header">
      <q-btn flat @click="$refs.layout.toggleLeft()">
        <q-icon name="menu" />
      </q-btn>
      <q-toolbar-title>
        Quasar Layout
        <span slot="subtitle">Empowering your app</span>
      </q-toolbar-title>
      <q-btn class="within-iframe-hide" flat @click="$router.replace('/showcase')" style="margin-right: 15px">
        <q-icon name="keyboard_arrow_left" />
        Go back
      </q-btn>
      <q-btn flat @click="$refs.layout.toggleRight()">
        <q-icon name="menu" />
      </q-btn>
    </q-toolbar>
    
    <q-tabs>
      <!-- Tabs - notice slot="title" -->
      <q-tab v-for="tab in tabsData" :key="tab.id" slot="title" :name="'tab-'+ tab.Id" :label="tab.Title" icon="message" :count="tab.NodesCount" />
      <!-- Targets -->
      <q-tab-pane v-for="tab in tabsData" :name="'tab-'+ tab.Id" :key="tab.Id" keep-alive>
        <BundleTree :bundleId="tab.Id" />
      </q-tab-pane>
    </q-tabs>

    <q-scroll-area slot="left" style="width: 100%; height: 100%">
      <q-list-header>Left Panel</q-list-header>
     
      <q-list no-border link inset-delimiter>
        <q-item @click="$router.push({path:'/'})">
          <q-item-side icon="view_array" />
          <q-item-main label="Main" sublabel="To root" />
          <q-item-side right icon="thumb_up" />
        </q-item>
        <q-item @click="$router.push({path:'/Hello'})">
          <q-item-side icon="view_array" />
          <q-item-main label="Hello" sublabel="Hello page" />
          <q-item-side right icon="thumb_up" />
        </q-item>
      </q-list>

      <div v-if="layoutStore.leftScroll" style="padding: 25px 16px 16px;">        
        <p class="caption">
          <em>Left Panel has intended scroll</em>
        </p>
      </div>
    </q-scroll-area>

    <q-scroll-area slot="right" style="width: 100%; height: 100%">
      <q-list-header>Bundles list</q-list-header>
      <div v-if="layoutStore.rightScroll" style="padding: 25px 16px 16px;">
        <q-list highlight inset-separator>
          <q-item v-for="(item) in bundlesList" :key="item.Id">
            <q-item-side icon="folder" />             
              <q-item-main :label="item.Title" :sublabel="item.Description" />      
              <q-item-side right>
              <q-item-tile>
                <q-btn round small color="secondary" icon="add" @click="selectBundle(item)" />
              </q-item-tile>
            </q-item-side>        
          </q-item>
        </q-list>
      </div>
    </q-scroll-area>

    <router-view />

    <q-toolbar slot="footer">
      <q-toolbar-title>
        Footer
      </q-toolbar-title>
    </q-toolbar>
  </q-layout>
</template>

<script>
import {
  QLayout,
  QToolbar,
  QToolbarTitle,
  QSearch,
  QTabs,
  QTab,
  QTabPane,
  QRouteTab,
  QBtn,
  QIcon,
  QItemSide,
  QItemMain,
  QSideLink,
  QListHeader,
  QScrollArea,
  QList,
  QItem,
  QItemTile
} from 'quasar'

import BundleTree from './TreeView.vue'

export default {
  components: {
    QLayout,
    QToolbar,
    QToolbarTitle,
    QSearch,
    QTabs,
    QTab,
    QTabPane,
    QRouteTab,
    QBtn,
    QIcon,
    QItemSide,
    QItemMain,
    QSideLink,
    QListHeader,
    QScrollArea,
    QList,
    QItem,
    QItemTile,
    BundleTree
  },
  data () {
    return {
      layoutStore: {
        view: 'lHh Lpr lFf',
        reveal: false,
        leftScroll: true,
        rightScroll: true,
        leftBreakpoint: 996,
        rightBreakpoint: 1200,
        hideTabs: false
      },
      bundlesList: [],
      selectedTab: '',
      tabsData: []
    }
  },
  methods: {
    loadRigtPandelData () {
      var self = this
      this.axios.get('http://alexanders-001-site1.itempurl.com/api/NodeInfo').then(function (response) {
        self.bundlesList = response.data
      })
    },
    selectBundle (dataItem) {
      this.tabsData.push(dataItem)
    }
  },
  mounted () {
    this.loadRigtPandelData()
  }
}
</script>