<template>
  <div>
   <q-tree
      :model="treeModel"
      contract-html="<i class='material-icons'>remove_circle</i>"
      expand-html="<i class='material-icons'>add_circle</i>">
    </q-tree>
    <edit-panel ref="editPanel" @update="onFormUpdated" />
  </div>  
</template>

<script>
import {
  openURL,
  QIcon,
  QTree,
  QItem,
  QItemSide,
  QItemMain,
  ActionSheet
} from 'quasar'
import EditPanel from './EditModal.vue'

export default {
  name: 'BundleTree',
  props: ['bundleId'],
  components: {
    QIcon,
    QTree,
    QItem,
    QItemSide,
    QItemMain,
    EditPanel
  },
  data () {
    return {
      treeModel: []
    }
  },
  computed: {
    apiUrl: function () {
      return 'http://alexanders-001-site1.itempurl.com/api/Node/' + this.bundleId
    }
  },
  methods: {
    refreshData (resource) {
      function converData (sourceNode) {
        var result = {
          // data: sourceNode,
          title: sourceNode.Title,
          expanded: sourceNode.HasChildren,
          children: [],
          handler: function (item, e) {
            // self.showActionSheetWithIcons(item.data)
            self.showActionSheetWithIcons(sourceNode)
          }
        }
        sourceNode.Nodes.forEach(function (value, key) {
          result.children.push(converData(value))
        })
        return result
      }
      var self = this
      this.axios.get(this.apiUrl).then(function (response) {
        self.treeModel = [
          converData(response.data[0])
        ]
      })
    },
    showActionSheetWithIcons (dataItem) {
      var self = this
      var actions = []
      if (dataItem.Anchor) {
        actions.push({
          label: 'Open',
          icon: 'open_in_browser',
          handler () {
            console.log('open: ' + dataItem.Anchor)
            openURL(dataItem.Anchor, '_blank')
          }
        })
      }
      actions.push({
        label: 'View',
        icon: 'info_outline',
        handler () {
          self.$refs.editPanel.show(dataItem, true)
        }
      })
      actions.push({
        label: 'Create child',
        icon: 'add_circle_outline',
        handler () {
          self.$refs.editPanel.show({ParentId: dataItem.Id})
        }
      })
      if (dataItem.ParentId) {
        actions.push({
          label: 'Edit',
          icon: 'edit',
          handler () {
            self.$refs.editPanel.show(dataItem)
          }
        })
        actions.push({
          label: 'Delete',
          icon: 'delete',
          handler () {
            openURL('http://ya.ru')
          }
        })
      }
      ActionSheet.create({
        title: 'Article Actions',
        gallery: true,
        actions: actions,
        dismiss: {
          label: 'Cancel',
          handler () {
            // Toast.create('Cancelled...')
          }
        }
      })
    },
    onFormUpdated (updatedData) {
      var self = this
      var data = {
        RootId: self.bundleId,
        ParentId: updatedData.parentId,
        Id: updatedData.id,
        Title: updatedData.title,
        Description: updatedData.description,
        Anchor: updatedData.anchor,
        Tags: updatedData.tags
      }
      var updateTree = function (response) {
        if (data.Id) { // UPDATE
          /* var node = getNode(self.treeModel, data.Id)
          node.data = response
          console.log(response)
          console.log(node) */
          self.refreshData()
        }
        else { // CREATE
          self.refreshData()
        }
      }
      /* function getNode (nodes, findNodeId) {
        debugger
        for (var i = 0; i <= nodes.length; i++) {
          if (nodes[i].data.Id === findNodeId) {
            return nodes[i]
          }
          else {
            return getNode(nodes[i].children, findNodeId)
          }
        }
      } */
      if (!updatedData.id) {
        this.axios.put(this.apiUrl, data).then(updateTree)
      }
      else {
        this.axios.post(this.apiUrl, data).then(updateTree)
      }
    }
  },
  mounted () {
    this.refreshData()
  },
  beforeDestroy () {
  }
}
</script>