<template>
  <q-page padding>
    <div class="q-pa-md" style="max-width: 400px">
      <h4>Login Page</h4>
      <q-form
        @submit="onSubmit"
        class="q-gutter-md"
      >
        <q-input
          filled
          v-model="login"
          label="Login"
          hint="Name or email"
          lazy-rules
          :rules="[ val => val && val.length > 0 || 'Please type something']"
        />

        <q-input
          filled
          type="password"
          v-model="password"
          label="Password"
          lazy-rules
          :rules="[
            val => val !== null && val !== '' || 'Please type your password'
          ]"
        />

        <div>
          <q-btn label="Submit" type="submit" color="primary"/>
        </div>
      </q-form>

    </div>
  </q-page>
</template>

<script>

export default {
  // name: 'PageName',
  data () {
    return {
      login: '',
      password: ''
    }
  },
  methods: {
    onSubmit () {
      const login = this.login
      const password = this.password
      this.$q.loading.show()
      this.$store
        .dispatch('authentication/login', { login, password, url: this.$constants.ApiTokenUrl })
        .then(response => {
          this.$router.push('/')
        })
        .catch(error => {
          let message = error
          if (error.response && error.response.data) {
            message = JSON.stringify(error.response.data)
          }
          this.$q.notify(`Error while authentication. ${message}`)
        })
        .finally(() => this.$q.loading.hide())
    }
  }
}
</script>

<style>
</style>
