<template>
  <q-page padding>
    <div>
      <q-tabs v-model="selectedTab" align="justify" class="bg-primary text-white shadow-2">
        <q-tab v-for="tab in tabsData" :key="tab.id" :name="'tab-'+ tab.Id" :label="tab.Title" icon="message">
          <q-badge color="red" floating>{{tab.NodesCount}}</q-badge>
        </q-tab>
      </q-tabs>
      <q-tab-panels v-model="selectedTab" animated keep-alive>
        <q-tab-panel v-for="tab in tabsData" :name="'tab-'+ tab.Id" :key="tab.Id" keep-alive>
          <BundleTree :bundleId="tab.Id" />
        </q-tab-panel>
      </q-tab-panels>
    </div>
  </q-page>
</template>

<script>
import BundleTree from '../components/treeView.vue'

export default {
  // name: 'PageName',
  components: {
    BundleTree
  },
  data () {
    return {
      selectedTab: '',
      tabsData: []
    }
  },
  mounted () {
    var self = this
    this.$root.$on('onBundleSelect', function (dataItem) {
      if (!self.tabsData.includes(dataItem)) {
        self.tabsData.push(dataItem)
      }
    })
  }
}
</script>

<style>
</style>
