<template>
  <q-layout> <!-- Be sure to play with the Layout demo on docs -->

    <!-- (Optional) The Header -->
    <q-layout-header>
      <q-toolbar>
        <q-btn
          flat
          round
          dense
          icon="menu"
          aria-label="Toggle menu on left side"
          @click="leftDrawer = !leftDrawer"
        />
        <q-toolbar-title>
          MemoLink
          <span slot="subtitle">Memory linking</span>
        </q-toolbar-title>
        <q-btn flat round dense icon="menu" @click="rightDrawer = !rightDrawer" aria-label="Toggle menu on right side" />
      </q-toolbar>
    </q-layout-header>

    <!-- (Optional) The Footer -->
    <q-layout-footer>
      <q-toolbar>
        <q-btn
          flat
          round
          dense
          icon="menu"
          @click="leftDrawer = !leftDrawer"
          aria-label="Toggle menu on left side"
        />
        <q-toolbar-title>
          Footer
          <span slot="subtitle">Subtile</span>
        </q-toolbar-title>
        <q-btn flat round dense icon="menu" @click="rightDrawer = !rightDrawer" aria-label="Toggle menu on right side" />
      </q-toolbar>
    </q-layout-footer>

    <!-- (Optional) A Drawer; you can add one more with side="right" or change this one's side -->
    <q-layout-drawer
      side="left"
      v-model="leftDrawer"
    >
      <!-- QScrollArea is optional -->
      <q-scroll-area class="fit q-pa-sm">
        <q-list-header>Left Panel</q-list-header>
        <q-list no-border link inset-delimiter>
          <q-item @click="$router.push({path:'/'})">
            <q-item-side icon="view_array" />
            <q-item-main label="Main" sublabel="To root" />
            <q-item-side right icon="thumb_up" />
          </q-item>
          <q-item @click="$router.push({path:'/Hello'})">
            <q-item-side icon="view_array" />
            <q-item-main label="Hello" sublabel="Hello page" />
            <q-item-side right icon="thumb_up" />
          </q-item>
        </q-list>
      </q-scroll-area>
    </q-layout-drawer>

    <q-layout-drawer
      side="right"
      v-model="rightDrawer">
      <BundlesList />
    </q-layout-drawer>

    <q-page-container>
      <!-- This is where pages get injected -->
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
import BundlesList from '../components/BundlesList.vue'
import {
  QLayoutFooter,
  QScrollArea
} from 'quasar'

export default {
  name: 'MainLayut',
  components: {
    QLayoutFooter,
    QScrollArea,
    BundlesList
  },
  data () {
    return {
      leftDrawer: false,
      rightDrawer: true
    }
  }
}
</script>

<style>
</style>
