﻿<script type="text/javascript">
    if(!MemoLink){
        MemoLink = {};
    }
    if(!MemoLink.Popup){
        MemoLink.Popup = {
            show: function(){
                //$("#dialog").kendoDialog({
                //    //"close": onClose,
                //    //"open": onOpen,
                //    "actions": [{ "text": "Skip this version" }, { "text": "Remind me later" }, { "text": "Install update", "primary": true }],
                //    "content": this.content,
                //    "modal": false,
                //    "title": this.title,
                //    "width": 400
                //});
                var element = $("<div>")
                    .attr("id", new Date().getTime())
                    .append(this.content)
                    .appendTo("#dialogPopups");
                element.dialog({
                    title: this.title,
                    modal: true,
                    autoOpen:true,
                    dialogClass: "no-close",
                    buttons: [
                      {
                          text: "OK",
                          click: function () {
                              $(this).dialog("close");
                          }
                      }
                    ]
                });

            }
        };
        MemoLink.Popup.prototype = {
            title: "",
            content: ""
        }

        MemoLink.ConfirmPopup = function () {
            this.title = "Confirm";
            this.content = "CONFIRM CONTENT";
        };
        MemoLink.ConfirmPopup.prototype = MemoLink.Popup;

        MemoLink.DeletePopup = function () {
            this.title = "Delete";
            this.content = "DELETE CONTENT";
        };
        MemoLink.DeletePopup.prototype = MemoLink.Popup;
    }
</script>
<div id="dialogPopups"></div>