<template>
  <q-layout view="hHh Lpr lff" class="shadow-2 rounded-borders">
    <q-header elevated class="glossy">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawer = !leftDrawer"
          icon="menu"
          aria-label="Menu"
        />

        <q-toolbar-title>
           MemoLink
        </q-toolbar-title>

        <div>Quasar v{{ $q.version }}</div>
        <q-btn flat round dense icon="menu" @click="rightDrawer = !rightDrawer" aria-label="Toggle menu on right side" />
      </q-toolbar>
    </q-header>

    <q-drawer
      side="left"
      v-model="leftDrawer"
      :mini="miniState"
      @mouseover="miniState = false"
      @mouseout="miniState = true"
      :width="200"
      :breakpoint="500"
      show-if-above
      bordered
      content-class="bg-grey-3"
    >
      <!-- QScrollArea is optional -->
     <q-scroll-area class="fit">
        <!--q-item-label header>Menu</q-item-label-->
        <q-list no-border link inset-delimiter>
          <q-item clickable v-ripple>
            <q-item-section avatar>
              <q-icon name="inbox" />
            </q-item-section>

            <q-item-section>
              Inbox
            </q-item-section>
          </q-item>

          <q-item active clickable v-ripple>
            <q-item-section avatar>
              <q-icon name="star" />
            </q-item-section>

            <q-item-section>
              Star
            </q-item-section>
          </q-item>

           <q-item clickable v-ripple>
            <q-item-section avatar>
              <q-icon name="fingerprint" />
            </q-item-section>
            <q-item-section>
              <div>{{userName}}</div>
            </q-item-section>
            <q-item-section>
              <q-btn
                @click="logOut"
                round
                flat
                dense
                color="brown-5"
                icon="power_settings_new">
                <q-tooltip>
                  Logout
                </q-tooltip>
              </q-btn>
            </q-item-section>
          </q-item>

        </q-list>
      </q-scroll-area>
    </q-drawer>

    <q-drawer
      side="right"
      v-model="rightDrawer">
      <BundlesList />
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import BundlesList from '../components/bundlesList.vue'
import {
  QScrollArea
} from 'quasar'

export default {
  name: 'MainLayout',
  components: {
    QScrollArea,
    BundlesList
  },
  data () {
    return {
      user: '',
      miniState: true,
      leftDrawer: false,
      rightDrawer: true
    }
  },
  methods: {
    logOut: function () {
      this.$root.$emit('logOut')
    }
  },
  computed: {
    userName: {
      get: function () {
        return this.$store.state.authentication.user
      }
    }
  }
}
</script>

<style>
</style>
