<template>
  <div>
    <q-modal ref="layoutModal" :content-css="{minWidth: '80vw', minHeight: '80vh'}">
      <q-modal-layout>
        <q-toolbar slot="header">
          <q-btn flat @click="$refs.layoutModal.close()">
            <q-icon name="keyboard_arrow_left" />
          </q-btn>
          <q-toolbar-title>
            Header
          </q-toolbar-title>
        </q-toolbar>
        <q-toolbar slot="footer">
          <q-toolbar-title>
            <q-btn v-if="!readonly&&changed" color="secondary" @click="submit">Save</q-btn>
            <q-btn @click="cancel()" :color="cancelColor">Cancel</q-btn>
          </q-toolbar-title>
        </q-toolbar>

        <div class="layout-padding">
          <q-field
            label="Title"
            error-label="Title required">
            <q-input
              v-model="dataModel.title"
              @blur="$v.dataModel.title.$touch"
              @keyup.enter="submit"
              :error="$v.dataModel.title.$error"
              :readonly="readonly" />
          </q-field>

          <q-field
            label="Description">
            <q-input
              class="q-mt-md"
              type="textarea"
              v-model="dataModel.description"
              :readonly="readonly"/>
          </q-field>

          <q-field label="Anchor">
            <q-btn v-if="dataModel.anchor && !$v.dataModel.anchor.$error"
              class="float-left q-mr-sm q-mt-md"
              round
              dense
              color="secondary"
              size="sm"
              icon="open_in_browser"
              @click="openLink">
              <action-tooltip label="Open" />
            </q-btn>
            <q-input
              class="q-mt-md"
              v-model="dataModel.anchor"
              @keyup.enter="submit"
              @blur="$v.dataModel.anchor.$touch"
              :error="$v.dataModel.anchor.$error"
              :readonly="readonly" />
          </q-field>

          <q-field
            class="q-mt-md"
            label="Tags">
            <q-chips-input
              v-model="dataModel.tags"
              :readonly="readonly" />
          </q-field>
        </div>
      </q-modal-layout>
    </q-modal>
  </div>
</template>
<script>
import {
  QField,
  QModal,
  QModalLayout,
  openURL
} from 'quasar'
import { required, url, minLength } from 'vuelidate/lib/validators'

export default {
  name: 'EditPanel',
  components: {
    QField,
    QModal,
    QModalLayout
  },
  data () {
    return {
      open: false,
      dataSource: null,
      dataModel: {
        title: '',
        description: '',
        anchor: '',
        tags: []
      },
      readonly: true
    }
  },
  validations: {
    dataModel: {
      title: { required, minLength: minLength(1) },
      anchor: { url }
    }
  },
  methods: {
    show (dataSource, readonly) {
      this.dataSource = dataSource
      this.dataModel = {
        id: dataSource.Id,
        parentId: dataSource.ParentId,
        title: dataSource.Title,
        description: dataSource.Description,
        anchor: dataSource.Anchor,
        tags: []
      }
      this.readonly = false
      if (readonly) {
        this.readonly = readonly
      }

      if (dataSource.Tags && dataSource.Tags.length > 0) {
        this.dataModel.tags = dataSource.Tags.slice()
      }
      this.$refs.layoutModal.show()
    },
    cancel () {
      this.$refs.layoutModal.hide()
    },
    submit () {
      if (this.$v.$invalid) {
      } else {
        this.$emit('update', this.dataModel)
        this.$refs.layoutModal.hide()
      }
    },
    openLink: function () {
      openURL(this.dataModel.anchor, function () { console.log('open rejeced') })
    }
  },
  computed: {
    changed: function () {
      if (!this.dataSource) {
        return false
      }

      var result =
        this.dataModel.title !== this.dataSource.Title ||
        this.dataModel.description !== this.dataSource.Description ||
        this.dataModel.anchor !== this.dataSource.Anchor ||
        (!this.dataSource.Tags && this.dataModel.tags.length > 0) ||
        (this.dataSource.Tags && this.dataModel.tags.length !== this.dataSource.Tags.length)
      if (!result && !this.dataSource.Tags) {
        for (var i = 0; i < this.dataModel.tags.length; i++) {
          if (!this.dataSource.Tags.includes(this.dataModel.tags[i])) {
            result = true
            break
          }
        }
      }
      return result
    },
    cancelColor: function () {
      return this.changed ? 'standard' : 'secondary'
    }
  }
}
</script>
