<template>
  <div>
    <q-btn v-if="data.Anchor"
      round
      dense
      color="primary"
      size="sm"
      icon="open_in_browser"
      @click="open">
      <action-tooltip label="Open" />
    </q-btn>
    <q-fab v-if="!useActionSheet"
      flat
      color="secondary"
      icon="keyboard_arrow_right"
      direction="right">
      <q-fab-action
        color="info"
        @click="onAction('onInfo')"
        icon="info_outline">
        <action-tooltip label="Info" />
      </q-fab-action>
      <q-fab-action v-if="data.ParentId"
        color="deep-orange-3"
        @click="onAction('onEdit')"
        icon="edit">
        <action-tooltip label="Edit" />
      </q-fab-action>
      <q-fab-action v-if="data.ParentId"
        color="negative"
        @click="deleteNode"
        icon="delete">
        <action-tooltip label="Delete" />
      </q-fab-action>
      <q-fab-action
        color="purple-3"
        @click="onAction('onAddChild')"
        icon="add_circle_outline">
        <action-tooltip label="Add child" />
      </q-fab-action>
      <q-fab-action
        v-show="cloneModel"
        color="positive"
        @click="paste"
        icon="content_paste">
        <action-tooltip label="Paste" />
      </q-fab-action>
      <q-fab-action
        color="warning"
        @click="clone"
        icon="content_copy">
        <action-tooltip label="Copy" />
      </q-fab-action>
    </q-fab>
  </div>
</template>

<script>

const cloneEventName = 'onClone'

import ActionTooltip from './nodeActionTooltip.vue'
import {
  openURL
} from 'quasar'

export default {
  name: 'NodeAction',
  props: ['data'],
  components: { ActionTooltip },
  data () {
    return {
      cloneModel: null,
      useActionSheet: false
    }
  },
  methods: {
    onAction: function (action) {
      this.$emit(action, this.data)
    },
    open: function () {
      openURL(this.data.Anchor, function () { console.log('open rejeced') })
    },
    clone: function () {
      var self = this
      var cloneAction = function (cloneType) {
        var cloneModel = {
          SourceId: self.data.Id,
          Type: cloneType
        }
        self.$root.$emit(cloneEventName, cloneModel)
      }
      var actions = []
      actions.push({
        label: 'Single',
        icon: 'reply',
        handler () {
          cloneAction(1)
        }
      })
      actions.push({
        label: 'Deep',
        icon: 'reply_all',
        handler () {
          cloneAction(2)
        }
      })
      if (this.data.ParentId) {
        actions.push({
          label: 'Cut',
          icon: 'redo',
          handler () {
            cloneAction(3)
          }
        })
      }
      this.$q.actionSheet({
        title: 'Clone method for "' + this.data.Title + '"',
        grid: true,
        dismissLabel: 'Cancel',
        actions: actions
      }).catch(() => {
        // user dismissed
      })
    },
    paste: function () {
      this.cloneModel.TargetId = this.data.Id
      this.$emit('onPaste', this.cloneModel)
      // Update action menues
      this.$root.$emit(cloneEventName, null)
    },
    deleteNode: function () {
      var self = this
      this.$q.dialog({
        title: 'Are you sure?',
        message: 'Delete "' + this.data.Title + '"',
        ok: 'Ok',
        cancel: 'Cancel'
      }).then(() => {
        if (self.data.HasChildren) {
          self.$q.dialog({
            title: 'Node has child nodes. They are removed too. Are you sure?',
            message: 'Delete "' + self.data.Title + '"',
            ok: 'Ok',
            cancel: 'Cancel'
          }).then(() => {
            self.$emit('onDelete', self.data)
          }).catch(() => {
          })
        } else {
          self.$emit('onDelete', self.data)
        }
      }).catch(() => {
      })
    },
    showActionSheetWithIcons () {
      if (!this.useActionSheet) {
        return
      }
      var self = this
      var dataItem = this.data
      var actions = []
      actions.push({
        label: 'View',
        icon: 'info_outline',
        handler () {
          self.onAction('onInfo')
        }
      })
      if (dataItem.ParentId) {
        actions.push({
          label: 'Edit',
          icon: 'edit',
          handler () {
            self.onAction('onEdit')
          }
        })
        actions.push({
          label: 'Delete',
          icon: 'delete',
          handler () {
            self.deleteNode()
          }
        })
      }
      actions.push({
        label: 'Create child',
        icon: 'add_circle_outline',
        handler () {
          self.$refs.editPanel.show({ParentId: dataItem.Id})
        }
      })
      actions.push({
        label: 'Clone',
        icon: 'content_copy',
        handler () {
          self.clone()
        }
      })
      if (this.cloneModel) {
        actions.push({
          label: 'Paste',
          icon: 'content_paste',
          handler () {
            self.paste()
          }
        })
      }
      this.$q.actionSheet({
        title: '"' + dataItem.Title + '" actions',
        grid: true,
        dismissLabel: 'Cancel',
        actions: actions
      })
    }
  },
  mounted: function () {
    var self = this
    this.useActionSheet = this.$q.platform.is.mobile === true
    this.$root.$on(cloneEventName, function (cloneModel) {
      self.cloneModel = cloneModel
      if (cloneModel) {
        if (self.data.Id === cloneModel.SourceId) { // Deny paste to self
          self.cloneModel = null
        }
        // TODO: Deny cut/paste to parent
      }
    })
  }
}
</script>

<style>
</style>
