<template>
  <div>
    <div class="text-dark relative-position">
      <q-chips-input v-model="filter.model"
        placeholder="Select from list or add new one"
        stack-label="Filter"
        @duplicate="filterDuplicate">
        <q-autocomplete :static-data="filter.data" />
      </q-chips-input>
      <q-tree
        node-key="id"
        :nodes="treeModel"
        :selected.sync="selectedNode"
        :filter="treeFilter"
        :filter-method="treeFilterMethod"
        contract-html="<i class='material-icons'>remove_circle</i>"
        expand-html="<i class='material-icons'>add_circle</i>"
        no-nodes-label="No nodes"
        no-results-label="No filtered results">
        <div slot="header-generic" slot-scope="prop" class="row items-center">
          <q-icon v-if="false" :name="prop.node.icon || 'star'" color="orange" size="28px" class="q-mr-sm" />
          <div>
            <div class="text-primary">
              <q-chip>{{ prop.node.total }}</q-chip>
              {{ prop.node.label }}</div>
            <div>
              <q-chip
                v-for="tag in prop.node.sourceData.Tags" :key="tag"
                dense tag closable
                color="amber-5">
                {{tag}}
                </q-chip>
            </div>
          </div>
          <node-action
            :ref="'action' + prop.node.id"
            style="padding-left:10px"
            :data="prop.node.sourceData"
            @onInfo="onViewNode"
            @onEdit="onEditNode"
            @onAddChild="onCreateChildNode"
            @onDelete="onDeleteNode"
            @onPaste="onPasteNode"
          />
        </div>
      </q-tree>
      <!--
        Place QInnerLoading as the last child element.
        This is important for it to be displayed on top of the other content.
      -->
      <q-inner-loading :visible="loading">
        <q-spinner-bars size="50px" color="primary"></q-spinner-bars>
      </q-inner-loading>
    </div>
    <edit-panel ref="editPanel" @update="onFormUpdated" />
  </div>
</template>

<script>
// var ApiUrl = 'http://alexanders-001-site1.itempurl.com/api/Node/'
var ApiUrl = 'https://localhost:5001/api/'
const treeFilterDelimiter = '|'
import {
  QTree
} from 'quasar'
import EditPanel from './editModal.vue'
import NodeAction from './nodeAction.vue'

export default {
  name: 'BundleTree',
  props: ['bundleId', 'copyDataItem'],
  components: {
    QTree,
    EditPanel,
    NodeAction
  },
  data () {
    return {
      treeModel: [],
      selectedNode: null, // Used for disable expanding on node click
      loading: false,
      filter: {
        model: [], // TODO: load user defined filters
        data: {
          // Property name that will be used by filter() to filter the array of objects below.
          field: 'value',
          list: []
        }
      }
    }
  },
  computed: {
    bundleUrl: function () {
      return ApiUrl + 'bundle/tree/' + this.bundleId
    },
    nodeUrl: function () {
      return ApiUrl + 'node/'
    },
    treeFilter: function () {
      return this.filter.model.join(treeFilterDelimiter)
    }
  },
  methods: {
    refreshData (resource) {
      function convertData (sourceNode) {
        var result = {
          sourceData: sourceNode,
          header: 'generic',
          id: sourceNode.Id,
          label: sourceNode.Title,
          expanded: sourceNode.HasChildren,
          children: [],
          total: 0,
          handler: function (item, e) {
            self.$refs['action' + item.id].showActionSheetWithIcons()
          }
        }
        sourceNode.Nodes.forEach(function (value, key) {
          var childData = convertData(value)
          result.total += childData.total + 1
          result.children.push(childData)
        })
        return result
      }

      function prepareFilterData (sourceNode) {
        var result = []
        sourceNode.Nodes.forEach(function (value, key) {
          result = result.concat(prepareFilterData(value))
        })
        result = result.concat({
          label: sourceNode.Title,
          value: sourceNode.Title,
          sublabel: 'title',
          icon: 'label',
          stamp: '' // TODO: Show the tag count
        })
        sourceNode.Tags.forEach(function (value, key) {
          result = result.concat({
            label: value,
            value: value,
            sublabel: 'tag',
            icon: 'local offer',
            stamp: '' // TODO: Show the tag count
          })
        })

        return result
      }

      var self = this
      this.loading = true
      this.$axios.get(this.bundleUrl)
        .then(function (response) {
          self.loading = false
          self.treeModel = [
            convertData(response.data[0])
          ]
          var list = []
          var fullList = prepareFilterData(response.data[0])
          for (var i = 0; i < fullList.length; i++) {
            var accept = true
            for (var j = 0; j < list.length; j++) {
              if (list[j].value === fullList[i].value) {
                if (!list[j].stamp) {
                  list[j].stamp = '1'
                }
                list[j].stamp = (1 + parseInt(list[j].stamp)).toString()
                accept = false
                break
              }
            }
            if (accept) {
              list.push(fullList[i])
            }
          }

          self.filter.data.list = list
        })
        .catch(error => {
          this.$q.notify(`Error while loading "${this.bundleUrl}". ${error}`)
        })
        .finally(() => { self.loading = false })
    },
    updateTree: function (response) {
      this.refreshData()
    },
    onViewNode: function (dataItem) {
      this.$refs.editPanel.show(dataItem, true)
    },
    onEditNode: function (dataItem) {
      this.$refs.editPanel.show(dataItem)
    },
    onDeleteNode: function (dataItem) {
      var self = this
      this.loading = true
      this.$axios
        .delete(self.nodeUrl + dataItem.Id)
        .then(this.updateTree)
        .catch(error => {
          this.$q.notify(`Error while deleting "${dataItem.Title}". ${error}`)
        })
        .finally(() => { self.loading = false })
    },
    onCreateChildNode: function (dataItem) {
      this.$refs.editPanel.show({ParentId: dataItem.Id})
    },
    onPasteNode: function (dataModel) {
      var self = this
      this.loading = true
      this.$axios
        .post(self.nodeUrl + 'clone', dataModel)
        .then(this.updateTree)
        .catch(error => {
          self.$q.notify(`Error while cloning "${dataModel.NodeId}". ${error}`)
        })
        .finally(() => { self.loading = false })
    },
    onFormUpdated (updatedData) {
      var self = this
      var data = {
        RootId: self.bundleId,
        ParentId: updatedData.parentId,
        Id: updatedData.id,
        Title: updatedData.title,
        Description: updatedData.description,
        Anchor: updatedData.anchor,
        Tags: updatedData.tags
      }
      /* function getNode (nodes, findNodeId) {
        debugger
        for (var i = 0; i <= nodes.length; i++) {
          if (nodes[i].sourceData.Id === findNodeId) {
            return nodes[i]
          }
          else {
            return getNode(nodes[i].children, findNodeId)
          }
        }
      } */
      this.loading = true
      var promise = updatedData.id
        ? this.$axios.post(this.nodeUrl, data)
        : this.$axios.put(this.nodeUrl, data)
      promise
        .then(this.updateTree)
        .catch(error => {
          this.$q.notify(`Error while saving "${data.Title}". ${error}`)
        })
        .finally(() => { self.loading = false })
    },
    treeFilterMethod (node, filterString) {
      console.log('treeFilterMethod ' + filterString)
      var filters = filterString.split(treeFilterDelimiter)
      for (var i = 0; i < filters.length; i++) {
        var filter = filters[i].toLowerCase()
        if (node.label && node.label.toLowerCase().indexOf(filter) > -1) {
          return true
        } else {
          for (var j = 0; j < node.sourceData.Tags.length; j++) {
            if (filter === node.sourceData.Tags[j]) {
              return true
            }
          }
        }
      }
      return false
    },
    filterDuplicate (label) {
      this.$q.notify(`"${label}" already in list`)
    }
  },
  mounted () {
    this.refreshData()
  },
  beforeDestroy () {
  }
}
</script>
