<template>
  <q-page padding>
    <div>
      <q-tabs align="justify">
        <!-- Tabs - notice slot="title" -->
        <q-tab v-for="tab in tabsData" :key="tab.id" slot="title" :name="'tab-'+ tab.Id" :label="tab.Title" icon="message" :count="tab.NodesCount" />
        <!-- Targets -->
        <q-tab-pane v-for="tab in tabsData" :name="'tab-'+ tab.Id" :key="tab.Id" keep-alive>
          <BundleTree :bundleId="tab.Id" />
        </q-tab-pane>
      </q-tabs>
    </div>
  </q-page>
</template>

<script>
import BundleTree from '../components/treeView.vue'
import {
  QTabs,
  QTab,
  QTabPane
} from 'quasar'

export default {
  // name: 'PageName',
  components: {
    QTabs,
    QTab,
    QTabPane,
    BundleTree
  },
  data () {
    return {
      selectedTab: '',
      tabsData: []
    }
  },
  mounted () {
    var self = this
    this.$root.$on('onBundleSelect', function (dataItem) {
      if (!self.tabsData.includes(dataItem)) {
        self.tabsData.push(dataItem)
      }
    })
  }
}
</script>

<style>
</style>
