<template>
  <q-page padding>
    <!-- content -->
    <q-btn
      color="primary"
      @click="open"
      label="Open URL"
    />
  </q-page>
</template>

<script>
import {
  openURL
} from 'quasar'

export default {
  // name: 'PageName',
  methods: {
    open () {
      openURL('ya.ru', function () { console.log('open rejected') })
    }
  }
}
</script>

<style>
</style>
