﻿@model int
@{
    var unique = new Random().Next();
    var treeIidentifier = "tree" + unique;
    var formIidentifier = "form" + unique;
    var containerId = "container" + unique;
    var taggleId = "taggle" + unique;
    var okButtonId = "okButton" + unique;
    var cancelButtonId = "cancelButton" + unique;
    var apiUrl = Url.HttpRouteUrl("DefaultApi", new
    {
        controller = "Node",
        id = Model
    });
    var apiBaseUrl = Url.HttpRouteUrl("DefaultApi", new
    {
        controller = "Node"
    });
}
<div id="@containerId">
    <div class="delete-node" style="display:none">Are you sure ?</div>
    <div class="create-node" style="display:none">
        <label>Title:</label>
        <input class="k-textbox" data-property="title" style="width:300px;">
        <div class="popup-message"></div>
    </div>
    <div style="display:none">
        <ul class="action-menu-template">
            <li>
                <a class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-add"></span>Add child</a>
            </li>
            <li>
                <a class="k-button k-delete-button" href="\\#"><span class="k-icon k-delete"></span>Delete</a>
            </li>
        </ul>
    </div>
    <div>
        @*<h4>[Bundle Name]</h4>*@
        <div class="kendo-tree-view" id="@treeIidentifier">
            <div class="loading"></div>
        </div>
    </div>
    <table id="@formIidentifier" class="edit-node-form" data-bind="visible: isVisible">
        <thead>
            <tr>
                <th colspan="2">
                    <div class="toolBar"></div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Title:</td>
                <td><input data-bind="value: Title" class="k-textbox" style="width:300px;"></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><textarea data-bind="value: Description" class="k-textbox" rows="3" style="width:300px;"></textarea></td>
            </tr>
            <tr>
                <td>Anchor:</td>
                <td>
                    <input data-bind="value: Anchor" class="k-textbox" style="width:270px;" />
                    <a href="#" data-bind="attr: { href: Anchor }, visible: isAnchorNonEmpty" target="_blank">Open</a>
                </td>
            </tr>
            <tr>
                <td>Tags:</td>
                <td style="border:1px solid black;max-width:300px;">
                    <div id="@taggleId"></div>
                </td>
            </tr>
            <tr data-bind="visible: isDirty">
                <td><button id="@okButtonId" class="k-primary">Save</button></td>
                <td><button id="@cancelButtonId">Cancel</button></td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    (function () {
        var taggle = new Taggle('@taggleId',
        {
            onTagRemove: formUpdated,
            onTagAdd: formUpdated
        });
        var formViewModel = kendo.observable({
            Title: "",
            Description: "",
            Anchor: "",
            isDirty: false
        });


        // TODO: update CRUD func, remove standard update (multiple nodes), use HierarchicalDataSource.pushCreate

        var treeSource = new kendo.data.HierarchicalDataSource({
            transport: {
                read: {
                    url: "@apiUrl",
                    method: "GET",
                    dataType: "json"
                },
                @*update: {              // Send ALL tree
                    url: "@apiUrl",
                    method: "POST",
                    dataType: "json"
                },*@
                destroy: {
                    url: "@apiUrl",
                    method: "DELETE",
                    dataType: "json"
                },
                create: {
                    url: "@apiUrl",
                    method: "PUT",
                    dataType: "json"
                }
            },
            schema: {
                model: {
                    id: "Id",
                    children: "Nodes",
                    hasChildren: "HasChildren"
                }
            }
        });

        $("#@treeIidentifier").kendoTreeView({
            //template: kendo.template($("#tree-node-template").html()),
            dataSource: treeSource,
            dataTextField: "Title",
            select: function (e) {                
                var selectedItemData = e.sender.dataItem(e.node);
                initForm(selectedItemData);
            }
        });

        kendo.bind("#@formIidentifier", formViewModel);
        $("#@formIidentifier").find("input,textarea").change(formUpdated);

        $("#@okButtonId").kendoButton({
            click: function () {
                var treeView = $("#@treeIidentifier").data("kendoTreeView");
                var data = treeView.dataItem(treeView.select());
                if (data) {
                    var model = {
                        Id: data.Id,
                        Title: formViewModel.Title,
                        Description: formViewModel.Description,
                        Anchor: formViewModel.Anchor,
                        Tags: taggle.tag.values
                    };
                    $.post(
                        '@apiUrl',
                        model,
                        function(){
                            data.set("Title", model.Title);
                            data.set("Description", model.Description);
                            data.set("Anchor", model.Anchor);
                            data.set("Tags", model.Tags);
                            //treeSource.sync();
                            initForm(data);
                        });
                }
                else {
                    // todo: error
                }
            }
        });

        @*$("#@containerId .action-menu-template").kendoContextMenu({
            orientation: "vertical",
            target: "#@formIidentifier .action-menu",
            //filter: ".product",
            animation: {
                open: { effects: "fadeIn" },
                duration: 500
            },
            select: function (e) {
                // Do something on select
            }
        });*@

        $("#@cancelButtonId").kendoButton({
            click: refreshForm
        });

        $("#@formIidentifier .toolBar").kendoToolBar({
            "items": [{
                "click": refreshForm, "text": "Refresh", "type": "button"
                }, {
                    "type": "separator"
                }, {
                    "template": "<label style='padding-left:180px'>Actions:</label>"
                }, {
                    "click": createChild, "id": "createChildButton", "text": "Create child", "type": "button", "overflow": "always"
                }, {
                    "type": "separator", "overflow": "always"
                }, {
                "click": deleteNode, "id": "deleteButton", "text": "Delete", "type": "button", "overflow": "always"
            }]
        });

        function createChild() {
            $("#@containerId .create-node").dialog({
                title: "Create child node for " + formViewModel.Title,
                width: 400,
                heigth: 200,
                modal: true,
                autoOpen: true,
                // dialogClass: "no-close",
                buttons: [{
                    text: "OK",
                    click: function () {
                        var treeView = $("#@treeIidentifier").data("kendoTreeView");
                        var data = treeView.dataItem(treeView.select());
                        var title =  $('input[data-property="title"]', this).val();
                        $.ajax({
                            type:"PUT",
                            url:'@apiUrl',
                            data:{
                                Title: title,
                                RootId: @Model,
                                ParentId: data?data.Id: null
                            },
                            success: function (id) {
                                var node = new kendo.data.Node({Id: id, Title: title, Tags:[], id: id, hasChildren:false});
                                treeView.append(node,treeView.select());
                                //treeView.select(node);
                                var ndataModel = treeView.dataSource.get(id);
                                treeView.select(treeView.findByUid(ndataModel.uid));
                                initForm(ndataModel);
                            }});

                        $(this).dialog("destroy");
                    }
                }, {
                    text: "Canel",
                    click: function () {
                        //$("input", this).val();
                        $(this).dialog("destroy");
                    }
                }]
            });
            //var popup = new MemoLink.ConfirmPopup();
            //popup.show();
        }

        function deleteNode() {
            $("#@containerId .delete-node").dialog({
                title: "Delete " + formViewModel.Title,
                modal: true,
                autoOpen: true,
                // dialogClass: "no-close",
                buttons: [{
                    text: "OK",
                    click: function () {
                        var treeView = $("#@treeIidentifier").data("kendoTreeView");
                        var selectedNode = treeView.select();
                        var parent = treeView.parent(selectedNode);
                        var id = treeView.dataItem(selectedNode).id;
                        console.info(id);
                        if (parent.data()) {                            
                            $.ajax({
                                type: "DELETE",
                                url: '@apiBaseUrl' + '/' + id,
                                success: function (id) {
                                    treeView.remove(selectedNode);
                                    treeView.select(parent);
                                }
                            });
                            //treeSource.sync();
                        }
                        else {
                            MemoLink.alert("Can't remove root node");
                        }
                        $(this).dialog("destroy");
                    }
                }, {
                    text: "Canel",
                    click: function () {
                        $(this).dialog("destroy");
                    }
                }]
            });

            //var popup = new MemoLink.DeletePopup();
            //popup.show();
        }

        function refreshForm() {
            var treeView = $("#@treeIidentifier").data("kendoTreeView");
            var data = treeView.dataItem(treeView.select());
            if (data) {
                initForm(data);
            }
            else {
                formViewModel.set("isVisible", false);
            }
        }

        function buttonClickHandler(e) {
            kendoConsole.log(e.target.text() + " 'click' event is fired.");
        }

        function formUpdated() {
            formViewModel.set("isDirty", true);
            formViewModel.set("isAnchorNonEmpty", formViewModel.Anchor ? true : false);
        }

        function initForm(data) {
            taggle.removeAll();
            //taggle.add(data.Tags.map(function (x) { return x.Name; }));
            taggle.add(data.Tags.map(function (x) { return x; }));

            $("#@formIidentifier .title").text(data.Title);

            formViewModel.set("Title", data && data.Title ? data.Title : '');
            formViewModel.set("Description", data && data.Description ? data.Description : '');
            formViewModel.set("Anchor", data && data.Anchor ? data.Anchor : '');
            formViewModel.set("isAnchorNonEmpty", formViewModel.Anchor ? true : false);
            formViewModel.set("isDirty", false);
            formViewModel.set("isVisible", true);
        }
    })();
</script>

<style>
   .kendo-tree-view{
       min-width:200px;
       min-height:200px;
       overflow:hidden;
       margin:5px;
       padding:5px;
   }
   .edit-node-form{
       position:absolute;
       top:0;
       right:0;
   }
   .edit-node-form td{
       padding:5px;
   }
   #@treeIidentifier .k-in .edit-buttons{
        visibility: hidden;
        float:right;
        padding-left:25px;
    }
    #@treeIidentifier .k-in:hover .edit-buttons{
        visibility: visible;
    }
</style>