﻿@using Kendo.Mvc.UI
@*@model  MemoLink.DTO.Node*@
@model int

@(Html.Kendo().TreeView()
        .Name("treeview_" + Model)
        .DataTextField("Title")
        .DataSource(dataSource => dataSource
            .Read(read => read
                .Url(Url.HttpRouteUrl("DefaultApi", new { controller = "Node", id = Model }))
                .Type(HttpVerbs.Get)
            )
            .Model(x =>
                x.Id("Id")
                .Children("Nodes")
                .HasChildren("HasChildren")
                )
        )
        .TemplateId("tree-node-template")
        .Events(x => x.Select("onTreeNodeSelect")))

@Html.Partial("_nodeEditForm")


@* <div id="example">
    <div class="demo-section k-content">
        <div id="treeview"></div>
    </div>
    <script>
        var serviceRoot = "//demos.telerik.com/kendo-ui/service";
            homogeneous = new kendo.data.HierarchicalDataSource({
                transport: {
                    read: {
                        url: "/Data/",
                        dataType: "jsonp"
                    }
                },
                schema: {
                    model: {
                        id: "EmployeeId",
                        hasChildren: "HasEmployees"
                    }
                }
            });

        $("#treeview").kendoTreeView({
            dataSource: homogeneous,
            dataTextField: "FullName"
        });
    </script>
        </div>*@
@*<div id="treeview"></div>
<script>
    var content = new kendo.data.HierarchicalDataSource(
    {
        data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)),
        schema: {
            model: {
                children: "Nodes"
            }
        }
    });

    $("#treeview").kendoTreeView({
        dataSource: content,
        dataTextField:  "Title" 
    }).expand(".k-item");
</script>*@