﻿<!-- edit form -->
<div class="box-col" id=".edit-form" data-bind="visible: selectedItem.Id">
    <h4 data-bind="text: selectedItem.Title"></h4>

    <textarea data-bind="value: selectedItem.name"
                    class="k-textbox"></textarea>
    
</div>
<style>
    .k-treeview .k-in {
        padding: 5px;
    }

    label {
        display: block;
    }

    .box-col {
        float: left;
        width: 250px;
    }
</style>