﻿@using Kendo.Mvc.UI
@using MemoLink.DTO

<script type="text/x-kendo-template" id="template">
    <div class="bundle">
        <div><span class="title">#:Title#</span><span> (#:NodesCount#)</span></div>
        <a class="open-bundle" data-id="#:Id#" data-title="#:Title#">Open</a>
        <div class="description">Desc #:Description#</div>
    </div>
</script>

<div class="demo-section k-content wide">
    @(Html.Kendo().ListView<NodeInfo>()
    .Name("listView")
    .TagName("div")
    .ClientTemplateId("template")
    .DataSource(dataSource =>
    {
        //dataSource.Read(read => read.Action("Get", "NodeInfo"));
        dataSource.Read(read => read.Action("GetBundles", "Data"));
        dataSource.PageSize(10);
        dataSource.Model(model => {
            model.Id("Id");
            model.Field("Title", typeof(string));
            model.Field("Description", typeof(string));
        });

    })
    .Pageable()
    )
</div>
<script>
        $(function() {           
            $("#listView").on("click", ".open-bundle", function () {
                MemoLink.EventManager.trigger(
                    "openBundle", {
                        title: $(this).data("title"),
                        id: $(this).data("id")
                    });
                return false;
            });
        });
</script>
<style>
    .bundle {
        border: solid 2px groove;
        padding: 10px;
    }

    .bundle .title{
        font-weight:bold;
    }

    .bundle .open-bundle {
        visibility: hidden;
        float: right;
        color: blue;
        cursor: pointer;
        padding-right: 30px;
    }

    .bundle .description {
        visibility: hidden;        
        font-style:italic;
    }

    .bundle:hover {
        background-color: gray;
    }

    .bundle:hover .open-bundle, .bundle:hover .description{
        visibility: visible;
    }

    .bundle:hover .description{
        height:80px;
    }
</style>