﻿@using Kendo.Mvc.UI
@using MemoLink.DTO

<div class="demo-section k-content wide">
    <div id="listView"></div>
    <div id="pager" class="k-pager-wrap"></div>
</div>

<script type="text/x-kendo-template" id="template">
    <div class="bundle">
        <div><h3>#:Title#</h3><span>#:NodesCount#</span></div>
        <a class="open-bundle" data-id="#:Id#" data-title="#:Title#" >Open</a>
        <div>Desc #:Description#</div>
    </div>
</script>

<script>
        $(function() {
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/api/NodeInfo",
                        dataType: "json"
                    }
                },
                pageSize: 10,
                "schema": {
                    "model": {
                        "id": "Id",
                        "fields": {
                            "NodesCount": { "type": "number" },
                            "Id": { "type": "number" },
                            "Title": { "type": "string" },
                            "Description": { "type": "string" },
                            "Anchor":{"type":"string"},
                            "Source":{"type":"object"},
                            "Tags":{"type":"object"}
                        }
                    }
                }
            });

            $("#pager").kendoPager({
                dataSource: dataSource
            });

            $("#listView").kendoListView({
                dataSource: dataSource,
                template: kendo.template($("#template").html())
            });
            $("#listView").on("click", ".open-bundle", function () {
                MemoLink.EventManager.trigger(
                    "openBundle", {
                        title: $(this).data("title"),
                        id: $(this).data("id")
                    });
                return false;
            });
        });
</script>

<style>
   .open-bundle{
       float:right;
       color:blue;
       cursor:pointer;
       padding-right:30px;
   }
   .bundle{
       border:solid 2px groove;
       padding:10px;
   }
    .bundle:hover {
        background-color:gray;
    }
</style>