﻿@{
    ViewBag.Title = "Home Page";
}
<div id="mainPage" style="height: 100%;background-color: bisque;">
    <div>@Html.Partial("_rootList")</div>
    <div id="windows-container"></div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/Scripts/taggle.js"></script>
    <script type="text/kendo-ui-template" id="tree-node-template">
        #: item.Title #
        <div class="edit-buttons">
            <a class="k-edit-button" href="\\#"><span class="k-icon k-edit"></span></a>
            <a class="k-delete-button" href="\\#"><span class="k-icon k-delete"></span></a>
        </div>
    </script>
    <script type="text/javascript">
            $(document).ready(function () {
                $("#mainPage").kendoSplitter({
                    panes: [
                        { collapsible: false, size: "20%" },
                        { collapsible: false }
                    ]
                });
            });

            function loadWindow(data) {
                var window = $("<div>")                
                window = window.appendTo("#windows-container");
                window.data("id", data.id);
                var kendoWindow = window.kendoWindow({
                    width: "800px",
                    height: "500px",
                    title: data.title,
                    actions: ["Minimize", "Maximize", "Close"],
                    pinned: true,
                    content: "@Url.Action("BundleWindow")/" + data.id,
                    open: function () {
                        this.content("<div class='loading'></div>");
                    },
                    refresh: function () {
                       // kendo.ui.progress(kendoWindow.element, false);
                    }
                }).data("kendoWindow").center().open();

                //kendo.ui.progress(kendoWindow.element, true);
            }
        MemoLink.EventManager.on("openBundle", function (data) { loadWindow(data); });
    </script>
}
@section Styles{
    <link type="text/css" rel="stylesheet" href="~/Content/taggle.css" />
    <style type="text/css">
       .loading{
            background-image: url('@Url.Content("~/Content/Images/loading/radio.svg")');
            background-repeat:no-repeat;
            background-position:center;
            width:100%;
            height:100%;
            display: block;
       }        
    </style>
}