<template>
   <q-scroll-area class="fit q-pa-sm">
    <q-item-label header>Bundles list</q-item-label>
    <q-list  bordered separator>
      <q-item v-for="(item) in bundlesList" :key="item.Id">
        <q-item-section avatar>
          <q-icon color="primary" name="folder" />
        </q-item-section>
        <q-item-section>
          <q-item-label>{{item.Title}}</q-item-label>
          <q-item-label caption lines="3">{{item.Description}}</q-item-label>
        </q-item-section>
        <q-item-section side top>
          <q-btn round small color="secondary" icon="add" @click="selectBundle(item)" />
        </q-item-section>
      </q-item>
      <!--
        Place QInnerLoading as the last child element.
        This is important for it to be displayed on top of the other content.
      -->
      <q-inner-loading :showing="loading">
        <q-spinner-bars size="50px" color="primary"></q-spinner-bars>
      </q-inner-loading>
    </q-list>
  </q-scroll-area>
</template>

<script>

import {
  QScrollArea
} from 'quasar'

export default {
  name: 'BundlesList',
  components: {
    QScrollArea
  },
  data () {
    return {
      bundlesList: [],
      loading: false
    }
  },
  methods: {
    loadData () {
      let url = this.$constants.ApiUrl + '/bundle'
      this.loading = true
      this.$axios
        .get(url)
        .then((response) => {
          this.bundlesList = response.data
        })
        .catch(error => {
          this.$q.notify(`Error while loading bundles list". ${error}`)
        })
        .finally(() => { this.loading = false })
    },
    selectBundle (dataItem) {
      this.$root.$emit('onBundleSelect', dataItem)
    }
  },
  mounted () {
    this.loadData()
  }
}
</script>
