<template>
  <q-dialog v-model="openDialog" persistent ref="dialog">
    <q-card style="width:100%">
      <q-card-section>
        <q-item>
          <q-item-section>
            <q-input
              label="Title"
              v-model="dataModel.title"
              ref="titleInput"
              @keyup.enter="submit"
              :readonly="readonly"
              :rules="[
                val => !!val || '* Required',
                val => val.length > 0 || 'Please use minimum 1 character',
              ]" />
          </q-item-section>
          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-item>
        <q-item>
          <q-item-section>
            <q-input
              label="Description"
              class="q-mt-md"
              type="textarea"
              v-model="dataModel.description"
              :readonly="readonly"/>
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>
            <q-input
              label="Anchor"
              class="q-mt-md"
              v-model="dataModel.anchor"
              type="url"
              @keyup.enter="submit"
              :readonly="readonly">
              <template v-slot:after>
                <q-btn v-if="dataModel.anchor"
                  class="float-right q-mr-sm q-mt-md"
                  round
                  dense
                  color="primary"
                  size="sm"
                  icon="open_in_browser"
                  @click="openLink">
                  <q-tooltip>Open</q-tooltip>
                </q-btn>
                <q-btn v-if="dataModel.anchor"
                  class="float-right q-mr-sm q-mt-md"
                  round
                  dense
                  color="secondary"
                  size="sm"
                  icon="file_copy"
                  @click="onCopyToClipboardClick">
                  <q-tooltip>Copy to clipboard</q-tooltip>
                </q-btn>
              </template>
            </q-input>
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>
            <q-select
              label="Tags"
              color="teal"
              outlined
              filled
              v-model="dataModel.tags"
              :readonly="readonly"
              use-input
              use-chips
              multiple
              counter
              input-debounce="0"
              new-value-mode="add-unique"
            />
          </q-item-section>
        </q-item>
      </q-card-section>
      <q-card-actions align="around">
        <q-btn v-if="!readonly&&changed" color="secondary" @click="submit">Save</q-btn>
        <q-btn v-close-popup :color="cancelColor">Cancel</q-btn>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import {
  openURL,
  copyToClipboard
} from 'quasar'

export default {
  name: 'EditPanel',
  components: {
  },
  data () {
    return {
      openDialog: false,
      dataSource: null,
      dataModel: {
        title: '',
        description: '',
        anchor: '',
        tags: []
      },
      readonly: true
    }
  },
  methods: {
    show (dataSource, readonly) {
      this.dataSource = dataSource
      this.dataModel = {
        id: dataSource.Id,
        parentId: dataSource.ParentId,
        title: dataSource.Title,
        description: dataSource.Description,
        anchor: dataSource.Anchor,
        tags: []
      }
      this.readonly = false
      if (readonly) {
        this.readonly = readonly
      }

      if (dataSource.Tags && dataSource.Tags.length > 0) {
        this.dataModel.tags = dataSource.Tags.slice()
      }
      this.openDialog = true
    },
    submit () {
      let titleInput = this.$refs.titleInput
      titleInput.validate()
      if (!titleInput.hasError) {
        this.$emit('update', this.dataModel)
        this.$refs.dialog.hide()
      }
    },
    openLink: function () {
      openURL(this.dataModel.anchor, () => this.$q.notify('open rejeced'))
    },
    onCopyToClipboardClick () {
      let url = this.dataModel.anchor
      copyToClipboard(url)
        .then(() => {
          this.$q.notify(`"${url}" Copied to clipboard.`)
        })
        .catch(() => {
          this.$q.notify('Copying issue.')
        })
    }
  },
  computed: {
    changed: function () {
      if (!this.dataSource) {
        return false
      }

      var result =
        this.dataModel.title !== this.dataSource.Title ||
        this.dataModel.description !== this.dataSource.Description ||
        this.dataModel.anchor !== this.dataSource.Anchor ||
        (!this.dataSource.Tags && this.dataModel.tags.length > 0) ||
        (this.dataSource.Tags && this.dataModel.tags.length !== this.dataSource.Tags.length)
      if (!result && !this.dataSource.Tags) {
        for (var i = 0; i < this.dataModel.tags.length; i++) {
          if (!this.dataSource.Tags.includes(this.dataModel.tags[i])) {
            result = true
            break
          }
        }
      }
      return result
    },
    cancelColor: function () {
      return this.changed ? 'grey' : 'secondary'
    }
  }
}
</script>

<style>
</style>
