<template>
  <div>
    <q-btn v-if="data.Anchor"
      round
      dense
      color="primary"
      size="sm"
      icon="open_in_browser"
      @click="open">
      <action-tooltip label="Open" />
    </q-btn>
    <q-btn v-if="data.Anchor"
      round
      dense
      color="secondary"
      icon="file_copy"
      size="xs"
      @click="onCopyToClipboardClick">
      <action-tooltip label="Copy to clipboard" />
    </q-btn>
    <q-fab v-if="!useActionSheet"
      flat
      color="secondary"
      icon="keyboard_arrow_right"
      direction="right">
      <q-fab-action
        @click="onActionClick(treeNodeActionType.INFO)"
        icon="info_outline">
        <action-tooltip label="Info" />
      </q-fab-action>
      <q-fab-action v-if="data.ParentId"
        @click="onActionClick(treeNodeActionType.EDIT)"
        icon="edit">
        <action-tooltip label="Edit" />
      </q-fab-action>
      <q-fab-action v-if="data.ParentId"
        @click="onActionClick(treeNodeActionType.DELETE)"
        icon="delete">
        <action-tooltip label="Delete" />
      </q-fab-action>
      <q-fab-action
        @click="onActionClick(treeNodeActionType.ADD_CHILD)"
        icon="add_circle_outline">
        <action-tooltip label="Add child" />
      </q-fab-action>
      <q-fab-action
        v-show="cloneModel"
        @click="onActionClick(treeNodeActionType.PASTE)"
        icon="content_paste">
        <action-tooltip label="Paste" />
      </q-fab-action>
      <q-fab-action
        @click="onActionClick(treeNodeActionType.COPY)"
        icon="content_copy">
        <action-tooltip label="Copy" />
      </q-fab-action>
    </q-fab>
  </div>
</template>

<script>
const cloneEventName = 'onClone'

import ActionTooltip from './nodeActionTooltip.vue'
import {
  openURL,
  copyToClipboard
} from 'quasar'

export default {
  name: 'NodeAction',
  props: ['data'],
  components: { ActionTooltip },
  data () {
    return {
      cloneModel: null,
      useActionSheet: true,
      treeNodeActionType: { // Enum emulation. Static
        INFO: 11,
        EDIT: 12,
        DELETE: 13,
        ADD_CHILD: 14,
        PASTE: 15,
        COPY: 16,
        // Hardcoded server values
        COPY_SINGLE: 1,
        COPY_DEEP: 2,
        COPY_CUT: 3
      }
    }
  },
  methods: {
    open: function () {
      openURL(this.data.Anchor, () => this.$q.notify(`open rejeced"`))
    },
    clone: function () {
      let self = this
      let cloneAction = function (cloneType) {
        // The model will be sent to server
        var cloneModel = {
          SourceId: self.data.Id,
          Type: cloneType
        }
        // Tell to all nodeActions to reset theirs clone related actions
        self.$root.$emit(cloneEventName, cloneModel)
      }
      let actions = []
      actions.push({
        label: 'Single',
        icon: 'reply',
        id: this.treeNodeActionType.COPY_SINGLE
      })
      actions.push({
        label: 'Deep',
        icon: 'reply_all',
        id: this.treeNodeActionType.COPY_DEEP
      })
      if (this.data.ParentId) {
        actions.push({
          label: 'Cut',
          icon: 'redo',
          id: this.treeNodeActionType.COPY_CUT
        })
      }
      this.$q.bottomSheet({
        message: 'Clone method for "' + this.data.Title + '"',
        grid: true,
        dismissLabel: 'Cancel',
        actions: actions
      }).onOk(action => {
        cloneAction(action.id)
      })
    },
    paste: function () {
      this.cloneModel.TargetId = this.data.Id
      this.$emit('onPaste', this.cloneModel)
      // Update action menues
      this.$root.$emit(cloneEventName, null)
    },
    deleteNode: function () {
      var self = this
      this.$q.dialog({
        title: 'Are you sure?',
        message: 'Delete "' + this.data.Title + '"',
        ok: 'Ok',
        cancel: 'Cancel'
      }).onOk(() => {
        if (self.data.HasChildren) {
          self.$q.dialog({
            title: 'Node has child nodes. They are removed too. Are you sure?',
            message: 'Delete "' + self.data.Title + '"',
            ok: {
              push: true,
              color: 'negative'
            },
            cancel: 'Cancel'
          }).onOk(() => {
            self.$emit('onDelete', self.data)
          })
        } else {
          self.$emit('onDelete', self.data)
        }
      })
    },
    showActionSheetWithIcons () {
      if (!this.useActionSheet) {
        return
      }
      let actions = []
      actions.push({
        label: 'View',
        icon: 'info_outline',
        id: this.treeNodeActionType.INFO
      })
      if (this.data.ParentId) {
        actions.push({
          label: 'Edit',
          icon: 'edit',
          id: this.treeNodeActionType.EDIT
        })
        actions.push({
          label: 'Delete',
          icon: 'delete',
          id: this.treeNodeActionType.DELETE
        })
      }
      actions.push({
        label: 'Create child',
        icon: 'add_circle_outline',
        id: this.treeNodeActionType.ADD_CHILD
      })
      actions.push({})
      actions.push({
        label: 'Clone',
        icon: 'content_copy',
        id: this.treeNodeActionType.COPY
      })
      if (this.cloneModel) {
        actions.push({
          label: 'Paste',
          icon: 'content_paste',
          id: this.treeNodeActionType.PASTE
        })
      }
      this.$q.bottomSheet({
        message: '"' + this.data.Title + '" actions',
        grid: true,
        dismissLabel: 'Cancel',
        actions: actions
      }).onOk(action => this.onActionClick(action.id))
    },
    onActionClick (type) {
      switch (type) {
        case this.treeNodeActionType.INFO:
          this.$emit('onInfo', this.data)
          break
        case this.treeNodeActionType.EDIT:
          this.$emit('onEdit', this.data)
          break
        case this.treeNodeActionType.ADD_CHILD:
          this.$emit('onEdit', { ParentId: this.data.Id })
          break
        case this.treeNodeActionType.DELETE:
          this.deleteNode()
          break
        case this.treeNodeActionType.COPY:
          this.clone()
          break
        case this.treeNodeActionType.PASTE:
          this.paste()
          break
        default:
          this.$q.notify(`Unexpecetd Action Type "${type}" `)
      }
    },
    onCopyToClipboardClick () {
      let url = this.data.Anchor
      copyToClipboard(url)
        .then(() => {
          this.$q.notify(`"${url}" Copied to clipboard.`)
        })
        .catch(() => {
          this.$q.notify('Copying issue.')
        })
    }
  },
  mounted: function () {
    let self = this
    this.useActionSheet = this.$q.platform.is.mobile === true

    // For update all NodeAction instances clone related menu items
    this.$root.$on(cloneEventName, function (cloneModel) {
      self.cloneModel = cloneModel
      if (cloneModel) {
        if (self.data.Id === cloneModel.SourceId) { // Deny paste to self
          self.cloneModel = null
        }
        // TODO: Deny cut/paste to parent
      }
    })
  }
}
</script>

<style>
</style>
