<template>
  <q-tooltip
        anchor="top middle"
        self="bottom middle"
        :offset="[0,10]">
        {{label}}
      </q-tooltip>
</template>

<script>
export default {
  name: 'ActionTooltip',
  props: ['label'],
  data () {
    return {}
  }
}
</script>

<style>
</style>
