<template>
  <div>
    <div class="text-dark relative-position">
      <q-select
        label="Select from list"
        color="teal"
        style="width:300px"
        outlined
        filled
        v-model="filter.model"
        use-input
        use-chips
        multiple
        input-debounce="0"
        new-value-mode="add-unique"
        @filter="selectFilterMethod"
        :options="filter.options">

        <template v-slot:option="scope">
          <q-item
            v-bind="scope.itemProps"
            v-on="scope.itemEvents"
          >
            <q-item-section>
              <q-item-label v-html="scope.opt.label" />
              <q-item-label caption>{{ scope.opt.sublabel }}</q-item-label>
            </q-item-section>
            <q-item-section avatar>
              <q-item-label v-if="scope.opt.count > 1" v-html="scope.opt.count" />
            </q-item-section>
          </q-item>
        </template>
      </q-select>
      <q-tree
        node-key="id"
        :nodes="treeModel"
        :selected.sync="selectedNode"
        :filter="treeFilter"
        :filter-method="treeFilterMethod"
        contract-html="<i class='material-icons'>remove_circle</i>"
        expand-html="<i class='material-icons'>add_circle</i>"
        no-nodes-label="No nodes"
        no-results-label="No filtered results">
        <div slot="header-generic" slot-scope="prop" class="row items-center">
          <q-icon v-if="false" :name="prop.node.icon || 'star'" color="orange" size="28px" class="q-mr-sm" />
          <div>
            <div class="text-primary">
              <q-chip>{{ prop.node.total }}</q-chip>
              {{ prop.node.label }}</div>
            <div>
              <q-chip
                v-for="tag in prop.node.sourceData.Tags" :key="tag"
                dense
                outline
                clickable
                color="teal"
                text-color="white">
                {{tag}}
              </q-chip>
            </div>
          </div>
          <node-action
            :ref="'action' + prop.node.id"
            style="padding-left:10px"
            :data="prop.node.sourceData"
            @onInfo="onViewNode"
            @onEdit="onEditNode"
            @onAddChild="onCreateChildNode"
            @onDelete="onDeleteNode"
            @onPaste="onPasteNode"
          />
        </div>
      </q-tree>
      <!--
        Place QInnerLoading as the last child element.
        This is important for it to be displayed on top of the other content.
      -->
      <q-inner-loading :showing="loading">
        <q-spinner-bars size="50px" color="primary"></q-spinner-bars>
      </q-inner-loading>
    </div>
    <edit-panel ref="editPanel" @update="onFormUpdated" />
  </div>
</template>

<script>

const treeFilterDelimiter = '|'

import EditPanel from './editModal.vue'
import NodeAction from './nodeAction.vue'

export default {
  name: 'BundleTree',
  props: ['bundleId', 'copyDataItem'],
  components: {
    EditPanel,
    NodeAction
  },
  data () {
    return {
      treeModel: [],
      selectedNode: null, // Used for disable expanding on node click
      loading: false,
      filter: {
        model: [], // TODO: load user defined filters
        options: [], // Filtered options
        allOptions: [], // All options list. Init on tree data binding
        optionValue: 'value',
        optionLabel: 'label'
      }
    }
  },
  computed: {
    bundleUrl: function () {
      return this.$constants.ApiUrl + '/bundle/tree/' + this.bundleId
    },
    nodeUrl: function () {
      return this.$constants.ApiUrl + '/node/'
    },
    treeFilter: function () {
      return this.filter.model.map((x) => x.value).join(treeFilterDelimiter)
    }
  },
  methods: {
    refreshData (resource) {
      function convertData (sourceNode) {
        let result = {
          sourceData: sourceNode,
          header: 'generic',
          id: sourceNode.Id,
          label: sourceNode.Title,
          expanded: sourceNode.HasChildren,
          children: [],
          total: 0,
          handler: (item, e) => {
            self.$refs['action' + item.id].showActionSheetWithIcons()
          }
        }
        sourceNode.Nodes.forEach(function (value, key) {
          let childData = convertData(value)
          result.total += childData.total + 1
          result.children.push(childData)
        })
        return result
      }

      function prepareFilterData (sourceNode) {
        let result = []
        sourceNode.Nodes.forEach(function (value, key) {
          result = result.concat(prepareFilterData(value))
        })
        result = result.concat({
          label: sourceNode.Title,
          value: sourceNode.Title,
          sublabel: 'title',
          icon: 'label',
          count: 1
        })
        sourceNode.Tags.forEach(function (value, key) {
          result = result.concat({
            label: value,
            value: value,
            sublabel: 'tag',
            icon: 'local offer',
            count: 1
          })
        })

        return result
      }

      let self = this
      this.loading = true
      this.$axios.get(this.bundleUrl)
        .then(response => {
          this.loading = false
          this.treeModel = [
            convertData(response.data[0])
          ]
          const list = []
          const fullList = prepareFilterData(response.data[0])
          for (let sourceItem of fullList) {
            let accept = true
            for (let targetItem of list) {
              if (targetItem.value === sourceItem.value) {
                targetItem.count++
                accept = false
                break
              }
            }
            if (accept) {
              list.push(sourceItem)
            }
          }
          this.filter.options = this.filter.allOptions = list.sort((a, b) => (a.value.toLowerCase() > b.value.toLowerCase()) ? 1 : -1)
        })
        .catch(error => {
          this.$q.notify(`Error while loading "${this.bundleUrl}". ${error}`)
        })
        .finally(() => { this.loading = false })
    },
    updateTree: function (response) {
      this.refreshData()
    },
    onViewNode: function (dataItem) {
      this.$refs.editPanel.show(dataItem, true)
    },
    onEditNode: function (dataItem) {
      this.$refs.editPanel.show(dataItem)
    },
    onDeleteNode: function (dataItem) {
      this.loading = true
      this.$axios
        .delete(this.nodeUrl + dataItem.Id)
        .then(this.updateTree)
        .catch(error => {
          this.$q.notify(`Error while deleting "${dataItem.Title}". ${error}`)
        })
        .finally(() => { this.loading = false })
    },
    onCreateChildNode: function (dataItem) {
      this.$refs.editPanel.show({ ParentId: dataItem.Id })
    },
    onPasteNode: function (dataModel) {
      this.loading = true
      this.$axios
        .post(this.nodeUrl + 'clone', dataModel)
        .then(this.updateTree)
        .catch(error => {
          this.$q.notify(`Error while cloning "${dataModel.NodeId}". ${error}`)
        })
        .finally(() => { this.loading = false })
    },
    onFormUpdated (updatedData) {
      let data = {
        RootId: this.bundleId,
        ParentId: updatedData.parentId,
        Id: updatedData.id,
        Title: updatedData.title,
        Description: updatedData.description,
        Anchor: updatedData.anchor,
        Tags: updatedData.tags
      }
      /* function getNode (nodes, findNodeId) {
        debugger
        for (var i = 0; i <= nodes.length; i++) {
          if (nodes[i].sourceData.Id === findNodeId) {
            return nodes[i]
          }
          else {
            return getNode(nodes[i].children, findNodeId)
          }
        }
      } */
      this.loading = true
      let promise = updatedData.id
        ? this.$axios.post(this.nodeUrl, data)
        : this.$axios.put(this.nodeUrl, data)
      promise
        .then(this.updateTree)
        .catch(error => {
          this.$q.notify(`Error while saving "${data.Title}". ${error}`)
        })
        .finally(() => { this.loading = false })
    },
    treeFilterMethod (node, filterString) {
      let filters = filterString.split(treeFilterDelimiter)
      for (let filter of filters) {
        filter = filter.toLowerCase()
        if (node.label && node.label.toLowerCase().indexOf(filter) > -1) {
          return true
        } else {
          for (let tag of node.sourceData.Tags) {
            if (filter === tag) {
              return true
            }
          }
        }
      }
      return false
    },
    selectFilterMethod (val, update) {
      update(() => {
        if (val === '') {
          this.filter.options = this.filter.allOptions
        } else {
          const needle = val.toLowerCase()
          this.filter.options = this.filter.allOptions.filter(
            v => v.value.toLowerCase().indexOf(needle) > -1
          )
        }
      })
    }
  },
  mounted () {
    this.refreshData()
  },
  beforeDestroy () {
  }
}
</script>
