<template>
   <q-scroll-area class="fit q-pa-sm">
    <q-list-header>Bundles list</q-list-header>
    <q-list highlight inset-separator>
      <q-item v-for="(item) in bundlesList" :key="item.Id">
        <q-item-side icon="folder" />
          <q-item-main :label="item.Title" :sublabel="item.Description" />
          <q-item-side right>
          <q-item-tile>
            <q-btn round small color="secondary" icon="add" @click="selectBundle(item)" />
          </q-item-tile>
        </q-item-side>
      </q-item>
      <!--
        Place QInnerLoading as the last child element.
        This is important for it to be displayed on top of the other content.
      -->
      <q-inner-loading :visible="loading">
        <q-spinner-bars size="50px" color="primary"></q-spinner-bars>
      </q-inner-loading>
    </q-list>
  </q-scroll-area>
</template>

<script>
var ApiUrl = 'http://alexanders-001-site1.itempurl.com/api/NodeInfo'
import {
  QScrollArea,
  QItemTile
} from 'quasar'

export default {
  name: 'BundlesList',
  components: {
    QScrollArea,
    QItemTile
  },
  data () {
    return {
      bundlesList: [],
      loading: false
    }
  },
  methods: {
    loadData () {
      var self = this
      this.loading = true
      this.$axios.get(ApiUrl).then(function (response) {
        self.loading = false
        self.bundlesList = response.data
      })
    },
    selectBundle (dataItem) {
      this.$root.$emit('onBundleSelect', dataItem)
    }
  },
  mounted () {
    this.loadData()
  }
}
</script>
