<template>

  <div>
    <div class="text-dark relative-position">
      <q-chips-input v-model="filter.model"
        placeholder="Select from list or add new one"
        stack-label="Filter"
        @duplicate="filterDuplicate">
        <q-autocomplete
          :static-data="filter.data"
          @selected="filterSelected" />
      </q-chips-input>
      <q-tree
        node-key="id"
        :nodes="treeModel"
        :filter-method="treeFilterMethod"
        contract-html="<i class='material-icons'>remove_circle</i>"
        expand-html="<i class='material-icons'>add_circle</i>"
        no-nodes-label="No nodes"
        no-results-label="No filtered results">
      </q-tree>
      <!--
        Place QInnerLoading as the last child element.
        This is important for it to be displayed on top of the other content.
      -->
      <q-inner-loading :visible="loading">
        <q-spinner-bars size="50px" color="primary"></q-spinner-bars>
      </q-inner-loading>
    </div>
    <edit-panel ref="editPanel" @update="onFormUpdated" />
  </div>
</template>

<script>
var ApiUrl = 'http://alexanders-001-site1.itempurl.com/api/Node/'

import {
  openURL,
  QTree,
  ActionSheet,
  Dialog
} from 'quasar'
import EditPanel from './EditModal.vue'

export default {
  name: 'BundleTree',
  props: ['bundleId', 'copyDataItem'],
  components: {
    QTree,
    EditPanel,
    ActionSheet,
    Dialog
  },
  data () {
    return {
      treeModel: [],
      loading: false,
      filter: {
        model: ['A', 'Test1', 'Test2'],
        data: [{
          // Property name that will be used by filter() to filter the array of objects below.
          field: 'value',
          list: [
            {
              value: 'Romania', // The value given, when selected
              label: 'Romania', // The value displayed as main label for this suggested selection

              sublabel: 'Continent: Europe', // optional
              icon: 'location_city', // optional
              stamp: '18 mil' // optional
            }
          ]
        }]
      }
    }
  },
  computed: {
    apiUrl: function () {
      return ApiUrl + this.bundleId
    }
  },
  methods: {
    refreshData (resource) {
      function convertData (sourceNode) {
        var result = {
          // data: sourceNode,
          id: sourceNode.Id,
          label: sourceNode.Title,
          expanded: sourceNode.HasChildren,
          children: [],
          handler: function (item, e) {
            // self.showActionSheetWithIcons(item.data)
            self.showActionSheetWithIcons(sourceNode)
          }
        }
        sourceNode.Nodes.forEach(function (value, key) {
          result.children.push(convertData(value))
        })
        return result
      }

      function prepareFilterData (sourceNode) {
        var result = []
        sourceNode.Nodes.forEach(function (value, key) {
          result = result.concat(prepareFilterData(value))
        })
        result = result.concat({
          label: sourceNode.Title,
          value: sourceNode.Title
        })
        sourceNode.Tags.forEach(function (value, key) {
          result = result.concat({
            label: value,
            value: value
          })
        })

        return result
      }

      var self = this
      this.loading = true
      this.$axios.get(this.apiUrl).then(function (response) {
        self.loading = false
        self.treeModel = [
          convertData(response.data[0])
        ]
        self.filter.data = prepareFilterData(response.data[0])
        console.log('filter.data = ' + self.filter.data.map(x => x.value))
      })
    },
    showActionSheetWithIcons (dataItem) {
      var self = this
      var actions = []
      if (dataItem.Anchor) {
        actions.push({
          label: 'Open',
          icon: 'open_in_browser',
          handler () {
            openURL(dataItem.Anchor, function () { console.log('open rejeced') })
          }
        })
      }
      actions.push({
        label: 'View',
        icon: 'info_outline',
        handler () {
          self.$refs.editPanel.show(dataItem, true)
        }
      })
      if (dataItem.ParentId) {
        actions.push({
          label: 'Edit',
          icon: 'edit',
          handler () {
            self.$refs.editPanel.show(dataItem)
          }
        })
        actions.push({
          label: 'Delete',
          icon: 'delete',
          handler () {
            self.$q.dialog({
              title: 'Are you sure?',
              message: 'Delete "' + dataItem.Title + '"',
              ok: 'Ok',
              cancel: 'Cancel'
            }).then(() => {
              self.$axios.delete(ApiUrl + '/' + dataItem.Id).then(self.updateTree)
            })
          }
        })
      }
      actions.push({
        label: 'Create child',
        icon: 'add_circle_outline',
        handler () {
          self.$refs.editPanel.show({ParentId: dataItem.Id})
        }
      })
      actions.push({
        label: 'Clone',
        icon: 'content_copy',
        handler () {
          self.$root.$emit('copyNode', dataItem)
        }
      })
      if (this.copyDataItem) {
        actions.push({
          label: 'Paste',
          icon: 'content_paste',
          handler () {
            self.$root.$emit('pasteNode')
          }
        })
      }
      this.$q.actionSheet({
        title: 'Node Actions',
        grid: true,
        dismissLabel: 'Cancel',
        actions: actions
      })
    },
    updateTree: function (response) {
      this.refreshData()
    },
    onFormUpdated (updatedData) {
      var self = this
      var data = {
        RootId: self.bundleId,
        ParentId: updatedData.parentId,
        Id: updatedData.id,
        Title: updatedData.title,
        Description: updatedData.description,
        Anchor: updatedData.anchor,
        Tags: updatedData.tags
      }
      /* function getNode (nodes, findNodeId) {
        debugger
        for (var i = 0; i <= nodes.length; i++) {
          if (nodes[i].data.Id === findNodeId) {
            return nodes[i]
          }
          else {
            return getNode(nodes[i].children, findNodeId)
          }
        }
      } */
      if (!updatedData.id) {
        this.$axios.put(this.apiUrl, data).then(this.updateTree)
      } else {
        this.$axios.post(this.apiUrl, data).then(this.updateTree)
      }
    },
    treeFilterMethod (node, filter) {
      console.log('treeFilterMethod ' + filter)
      for (var i = 0; i < filter.length; i++) {
        var filt = filter[i].toLowerCase()
        if (node.label && node.label.toLowerCase().indexOf(filt) > -1) {
          return true
        }
      }
      return false
    },
    /* filterSearch (terms, done) {
      setTimeout(() => {
        done(filter(terms, {field: 'value', list: parseCountries()}))
      }, 1000)
    }, */
    filterSelected (item) {
      this.$q.notify(`Selected suggestion "${item.label}"`)
    },
    filterDuplicate (label) {
      this.$q.notify(`"${label}" already in list`)
    }
  },
  mounted () {
    this.refreshData()
  },
  beforeDestroy () {
  }
}
</script>
