﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

html,
body {
    height: 100%; 
    padding: 0;
    margin: 0;
}

#rootPage {
    display: table; 
    width: 100%;
    height: 100%;
    border: 1px solid red;   
    text-align: center;
}

#rootPage > * {   
    display: table-row;   
    width: 100%;
}

header > *, footer > *, content > * {   
    display: table-cell;   
    width: 100%;
    border-radius:10px; 
}

header {
    height:50px; 
    border:solid 2px #aaa;
}

#content {
    height: 100%;    
    background:#f0f4f0; 
    border:solid 2px #5a5;
}

footer {
    height:50px; 
    border:solid 2px #a55;
}

navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

navigation ul li {
    float: left;
}

navigation ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
navigation ul li a.active {
    background-color: #4CAF50;
}

.hidden{
    visibility: hidden;
}

.ui-dialog { z-index: 11000 !important ;}